{% extends 'admin/baseAdmin.html.twig' %}

{% block main %}

    <h1> Liste des utilisateurs : </h1>

    <h2>Liste des nounous :</h2>

    {% for sitter in sitters %}
        {{ sitter.civility }}
        {{ sitter.user.firstName }}
        {{ sitter.user.lastName }}
        {{ sitter.photoUrl }}
        {{ sitter.createdAt|date('Y-m-d H:i') }}

    {% endfor %}

    <h2>liste des parents :</h2>

    {% for userParent in userParents %}
        {{ userParent.civility }}
        {{ userParent.user.firstName }}
        {{ userParent.user.lastName }}
        {{ userParent.createdAt }}
        {{ userParent.updatedAt }}
    {% endfor %}

{% endblock %}