{% extends 'public/basePublic.html.twig' %}


{% block main %}

  {#   <a href="{{ path('sitter_update') }}">Modifier</a> #}
   {#  <a href="{{ path('sitter_delete') }}">Supprimer</a> #}
{% if app.user %}
    {% else %}

    <section class="flex">
        <article class="blocArticle">
            <h1>Vous cherchez une garde? OU Vous cherchez une nounou?</h1>
                <p><a class="text_black" href="{{ path('user_new') }}">Créer un compte</a></p>

        </article>
    </section>
{% endif %}
    <section class="flex">
        <h1>Nos Nounous pour vos MIMIR: </h1>
        {% for sitter in sitters %}
        <article class="blocArticle">
            <h1><a class="text_black" href="{{ path("sitter_profil", {id : sitter.id}) }}">{{ sitter.user.firstname }}</a></h1>
            <h1><a class="text_black" href="{{ path("sitter_profil", {id : sitter.id}) }}">{{ sitter.user.lastname }}</a></h1>
          {#   <p>Date de naissance : {{ sitter.bornedAt|date('d/m/Y') }}</p>
            <p>Âge : {{ (date()|date('Y') - sitter.bornedAt('Y')) }} ans</p>
          #}
            <p class="text_black">{{ sitter.bio }}</p>
            <p class="text_black">{{ sitter.availability }}</p>

        </article>
        {% endfor %}

    </section>
{% endblock %}