{% extends 'public/basePublic.html.twig' %}

{% block main %}
    <section class="flex">
        <article class="blocArticle">
            <h1> Créez votre compte : </h1>

            <div class="formWrapper">

                {{
                form_start(userForm)
                }}
                <div class="">
                    <div class="">
                        {{ form_row(userForm.firstname) }}
                    </div>
                    <div class="">
                        {{ form_row(userForm.lastname) }}
                    </div>
                    <div class="">
                    </div>
                    <div class="">
                        {{ form_row(userForm.email) }}
                    </div>
                    <div class="">
                        {{ form_row(userForm.password) }}
                    </div>
                    <div class="">
                        {{ form_row(userForm.save) }}
                    </div>
                </div>
                {{
                form_end(userForm)
                }}
            </div>


        </article>
    </section>

{% endblock %}