{% extends 'public/basePublic.html.twig' %}

{% block bootstrap %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
{% endblock %}

{% block main %}
<main>
    <h1> profile : </h1>
    <div class="formWrapper">
        {{
            form_start(sitterForm)
        }}
        <div class="row">
            <div class="col-4">
                {{ form_row(sitterForm.bio) }}
            </div>
            <div class="col-4">
                {{ form_row(sitterForm.availability) }}
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                {{ form_row(sitterForm.civility) }}
            </div>
        </div>
        {{    form_end(sitterForm)    }}
    </div>
    {#
    {{ form_row(sitterForm.user.firstname) }}
    {{ form_row(sitterForm.user.lastname) }}
    {{ form_row(sitterForm.user.email) }}

    {{ form_end(sitterForm) }}#}
</main>
{% endblock %}