{% extends 'public/basePublic.html.twig' %}
{% block main %}
<main class="main_profil">
    <section class="flex">
        <h1>Profil de {{ sitter.user.firstname }} :</h1>
        <article class="carte-nounou">
            <div class="entete-nounou">
                <img src="{{ asset('assets/uploads/'~sitter.photoUrl) }}" alt="Photo de {{ sitter.user.firstname }}" class="photo-nounou">
                <div class="info-nounou">
                    <h2>{{ sitter.user.firstname }} {{ sitter.user.lastname }}</h2>
                    <p class="localisation-nounou">{{ sitter.city.name }}</p>
                </div>
            </div>
            <p class="bio-nounou">{{ sitter.bio }}</p>
            <p class="language-nounou">Je parle : {{ sitter.languages }}</p>
            <p class="disponibilite-nounou">Disponible a partir de : {{ sitter.availability }}</p>
            <p class="certifications-nounou">Certifications : {{ sitter.certifications }}</p>


            {% if app.user and 'ROLE_SITTER' in app.user.roles and app.user.sitter.id == sitter.id %}
        <button class="btn-voir-profil"><a href="{{ path("sitter_update", {id: sitter.id}) }}">Modifier</a></button>
        <button class="btn-voir-profil"><a href="{{ path("sitter_delete",{ id: app.user.sitter.id }) }}">Supprimer</a></button>
            {% endif %}
        </article>
    </section>

</main>
{% endblock %}